/* General Styling */
body {
    background-color: #FFBCB3; /* Light pink background */
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

h1 {
    color: #2C3E50;  /* Dark text color */
    margin-top: 50px;
}

.container {
    background-color: #FFFAF1;  /* Light background for the form */
    padding: 20px;
    margin: 50px auto;
    border-radius: 10px;
    width: 60%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    margin-bottom: 20px;
}

label {
    font-size: 18px;
    color: #333;
}

input[type="file"] {
    padding: 10px;
    font-size: 16px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 60%;
}

button {
    padding: 10px 20px;
    background-color: #F8A5B2; /* Soft button color */
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #F44336; /* Button hover color */
}

.error-message {
    color: red;
    font-size: 18px;
    font-weight: bold;
}

.result {
    margin-top: 20px;
}

h3, p {
    color: #2C3E50;
}

img {
    margin-top: 20px;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}
